* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: teal;
  width: 100vw;
  height: 100vh;
}

// Header
.header__container {
  max-width: 1200px;
  height: 150px;
  margin: 0 auto;
  background-color: aliceblue;
}
.upperContainer {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list__container,
.btn__container {
  display: flex;
  & > div {
    margin: 0 16px;
    &:hover {
      text-decoration: underline;
    }
  }
}
.underContainer {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo__container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-style: italic;
  text-underline-position: under;
  & > :first-child {
    font-weight: 800;
  }
  & > :last-child {
    font-weight: 800;
    text-decoration: underline;
    margin-left: 8px;
  }
}
// Catergory
.category__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  & > p {
    margin: 0 16px;
    &:hover {
      text-decoration: underline;
    }
  }
}
// Sort
.sort__container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 16px;
  & > p {
    margin: 0 4px;
    &:hover {
      text-decoration: underline;
    }
    &::after {
      content: "|";
    }
  }
}
